<!doctype html>
<html>
   <body>

      <h2 style = "text-align: center;">Article Form</h2>

      {% for message in form.titre.errors %}
         <div>{{ message }}</div>
      {% endfor %}



      <form  method = "post">
         <fieldset>
            <legend>Article Form</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.titre.label }}<br>
               {{ form.titre }}
               <br>


               {{ form.cont.label }}<br>
               {{ form.cont }}
               <br>
               {{ form.category.label }}<br>
               {{ form.category }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>


   </body>
</html>